h1 {
  color: orange;
  background-color: slategray;
  font-size: 20px;
  font-family: arial;
  text-align: center; /*居中对齐*/
  text-decoration: underline;
}

p {
  color: slategray;
  text-align: left;
  line-height: 30px; /* 上下行距 */
  column-count: 2; /*分成两行，类似报纸*/
  column-gap: 60px; /*两行的行距*/
}

ul {
  /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
  border: 4px solid crimson;
}

li {
  list-style-type: none; /*去除list的弹头 */
  text-shadow: 2px 2px #e9e9e9; /*添加阴影horizontal, vertical, color*/
}

/* attribute selector */

a[href] {
  /*选中所有含有href attribute的元素*/
  background-color: #3dd13d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* a[href*="www"] :  包含 www */

a[href="https://www.google.ca/"]
{
  /*选中具体的href attribute*/
  background-color: crimson;
}

/* 

inheritance继承: 内部的element会继承inherit外部element的CSS, 如 <div> <p> Example </p> </div>
对<div>的CSS会作用到<p>中

可以继承:  color, font
不可以继承: border, margin, padding


如果内部element想继承border margin的话：

div{
    color: red;
    border: 1px solid grey;
    margin: 40px;
}

p{
    border: inherit;
    margin: inherit;
}

*/
